@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-display), sans-serif;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply text-black bg-white;
  }
}

.font-display {
  font-family: var(--font-display);
}

.serif {
  font-family: 'Georgia', serif;
}
